{% extends '::base.html.twig' %}
{% block index_content %}
    <!--Page Header-->
    <section class="page-header blog_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Our Forum</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Our Forum</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Our-Forum-->
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--article-->
                    <div class="article_tag gray-bg">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <h6>Discussion General</h6>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                    <div class="tag_list">
                                        <ul>
                                            <li><a href="#">View All</a></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% for topic in topics %}
                        <article class="topics">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <figure>
                                    <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg">
                                </figure>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
                                <span class="label label-default pull-right" style="margin-right: 5px;">Last Post<i class="glyphicon glyphicon-calendar"></i>{{ topic.lastpost|date("d/m/y") }}  </span>
                                <h4>{{ topic.title }}</h4>
                                <p>{{ topic.description }}</p>
                                <section>
                                    <i class="glyphicon glyphicon-folder-open"></i>{{ topic.category.name }}
                                    <i class="glyphicon glyphicon-user"></i>{{ topic.owner.username }}
                                    <i class="glyphicon glyphicon-calendar"></i>{{ topic.date|date("d/m/y") }}
                                    <i class="glyphicon glyphicon-eye-open"></i>{{ topic.views }}
                                    <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':topic.category.slug,'slugt':topic.slug }) }}" class="btn btn-xs pull-right">More ... </a>
                                </section>
                            </div>
                        </div>
                    </article>
                        {% endfor %}
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>

                <!--Side-bar-->
                <aside class="col-lg-3 col-md-4">
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Search Forum</h5>
                        </div>
                        <div class="blog_search">
                            <form action="#" method="get">
                                <input class="form-control" name="#" type="text" placeholder="Search...">
                                <button type="submit" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Categories</h5>
                        </div>
                        <div class="categories_list">
                            <ul>
                                {% for category in categories %}
                                    <li><a href="{{ path('karhabty_forum_Display_Topics_ByCategory',{'slugc':category.slug}) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Topic</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_1.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">At vero eos et accusamus et iusto odio dignissimos.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_2.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">On the other hand, we denounce with righteous.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_3.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">But I must explain to you how all this mistaken idea.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_4.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">Nor again is there anyone who loves or pursues.</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Posts</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_1.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">At vero eos et accusamus et iusto odio dignissimos.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_2.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">On the other hand, we denounce with righteous.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_3.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">But I must explain to you how all this mistaken idea.</a> </div>
                                </li>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="assets/images/post_200x200_4.jpg" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">Nor again is there anyone who loves or pursues.</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <!--/Side-bar-->

            </div>
        </div>
    </section>
    <!-- /Our-Blog-->
{% endblock %}