{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block Page_Header %}
         <section class="page-header page_404">
             <div class="container">
                 <div class="page-header_wrap">
                     <div class="page-heading">
                         <h1>Password Recovery Email</h1>
                     </div>
                     <ul class="coustom-breadcrumb">
                         <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                         <li>Password Recovery Email</li>
                     </ul>
                 </div>
             </div>
             <!-- Dark Overlay-->
             <div class="dark-overlay"></div>
         </section>
{% endblock %}
{% block Message_content %}
    <section class="error_404 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <div class="error_text_m">
                        <img src="{{ asset('bundles/karhabtyuser/images/Logo1.jpg') }}" alt="image" style="
    width: 75%;
    margin: -35px 0px 20px 35px;">
                    </div>
                </div>
                <div class="col-md-6 col-sm-7">
                    <div class="not_found_msg">
                        <div class="error_icon"> <i class="fa fa-smile-o" aria-hidden="true"></i> </div>
                        <div class="error_msg_div">
                            <h3>Ooh, <span>Un e-mail a été envoyé</span></h3>
                            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
                            <a href="{{ path('karhabty_user_homepage') }}" class="btn">Back to Home <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}