{% trans_default_domain 'FOSUserBundle' %}

{% block index_content %}

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title">Password Recovery</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="forgotpassword_wrap">
                        <div class="col-md-12">
                            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first ,{'attr': {'placeholder': 'Nouveau mot de passe','class':'form-control'} } ) }}
                                </div>
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.second ,{'attr': {'placeholder': 'Répéter le nouveau mot de passe','class':'form-control'} } ) }}
                            </div>
                                <div class="form-group">
                                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-block">
                                </div>
                            {{ form_end(form) }}
                            <div class="text-center">
                                <p class="gray_text">{{ form_errors(form.plainPassword.first) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}