<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from themes.webmasterdriver.net/carforyou/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2017 21:55:27 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title> Karhabty </title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bundles/karhabtyuser/css/bootstrap.min.css') }}" type="text/css">
    <!--Custome Style -->
    <link rel="stylesheet" href="{{ asset('bundles/karhabtyuser/css/style.css') }}" type="text/css">
    <!--OWL Carousel slider-->
    <link rel="stylesheet" href="{{ asset('bundles/karhabtyuser/css/owl.carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/karhabtyuser/css/owl.transitions.css') }}" type="text/css">
    <!--slick-slider -->
    <link href="{{ asset('bundles/karhabtyuser/css/slick.css') }}" rel="stylesheet">
    <!--bootstrap-slider -->
    <link href="{{ asset('bundles/karhabtyuser/css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!--FontAwesome Font Style -->
    <link href="{{ asset('bundles/karhabtyuser/css/font-awesome.min.css') }}" rel="stylesheet">
    <!--Topic Style -->
    <link href="{{ asset('bundles/karhabtyforum/css/TopicsStyle.css') }}" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/karhabtyuser/images/favicon-icon/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/karhabtyuser/images/favicon-icon/apple-touch-icon-114-precomposed.html') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/karhabtyuser/images/favicon-icon/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/karhabtyuser/images/favicon-icon/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ asset('bundles/karhabtyuser/images/Logo1.png') }}">
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="url(https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js)"></script>
    <script src="url(https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js)"></script>
    <![endif]-->
</head>
<body>


<!--Header-->
{% block Header %}
    <header>
        <div class="default-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="logo"> <a href="{{ path('karhabty_user_homepage') }}"><img src="{{ asset('bundles/karhabtyuser/images/logo.png') }}" alt="image"/></a> </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="header_info">
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">For Support Mail us : </p>
                                <a href="mailto:info@example.com">info@example.com</a> </div>
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">Service Helpline Call Us: </p>
                                <a href="tel:61-1234-5678-09">+61-1234-5678-9</a> </div>
                            <div class="social-follow">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="login_btn"> <a href="{{ path('fos_user_security_login') }}"  class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="header_wrap">
                    <div class="user_login">
                        <ul>
                            {% if is_granted("ROLE_USER") %}
                            <li class="dropdown"> <a href="{{ path('fos_user_profile_show') }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ app.user.username }} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                                    <li><a href="{{ path('fos_user_profile_edit') }}">Profile Settings</a></li>
                                    <li><a href="{{ path('karhabty_user_Topic') }}">My Topics</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="header_search">
                        <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <form action="#" method="get" id="header-search-form">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('karhabty_user_homepage') }}"  aria-haspopup="true" aria-expanded="false">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventory</a>
                            <ul class="dropdown-menu">
                                <li><a href="listing-grid.html">Grid Style</a></li>
                                <li><a href="listing-classic.html">Classic Style</a></li>
                                <li><a href="listing-detail.html">Detail Page Style 1</a></li>
                                <li><a href="listing-detail-2.html">Detail Page Style 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dealers</a>
                            <ul class="dropdown-menu">
                                <li><a href="dealers-list.html">List View</a></li>
                                <li><a href="dealers-profile.html">Detail Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html">Services</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="compare.html">Compare Vehicles</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="404.html">404 Error</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forum</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('karhabty_forum_homepage') }}">Forum</a></li>
                                <li><a href="{{ path('karhabty_forum_Display_Categories') }}">Forum Categories</a></li>
                                <li><a href="blog-detail.html">Blog Detail</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation end -->

    </header>
{% endblock %}

<!-- /Header -->
<!-------------------- Index Content ------------------------------>
{% block index_content %}
<!-- Banners -->
{% block Banners %}{% endblock %}
<!-- /Banners -->
<!-- Page Header -->
 {% block Page_Header %}{% endblock %}
<!-- /Page Header -->
    <!--Message content-->
{% block Message_content %} {% endblock %}
    <!-- /Message content-->
    <!-- Filter-Form -->
{% block Filter_Form %}{% endblock %}
<!-- /Filter-Form -->

<!-- About -->
{% block About %}{% endblock %}
<!-- /About -->

<!-- Resent Cat-->
{% block Resent_Cat %}{% endblock %}
<!-- /Resent Cat -->

<!-- Fun Facts-->
{% block Fun_Facts %}{% endblock %}
<!-- /Fun Facts-->

<!--Featured Car-->
{% block Featured_Car %}{% endblock %}
<!-- /Featured Car-->

<!--Trending Car-->
{% block Trending_Car %}{% endblock %}
<!-- /Trending Car-->

<!--Testimonial -->
{% block Testimonial %}{% endblock %}
<!-- /Testimonial-->

<!--Blog -->
{% block Blog %}{% endblock %}
<!-- /Blog-->
 <!--Login-Form -->
{% block Login_Form %} {% endblock %}
<!--/Login-Form -->
 <!--Register-Form -->
 {% block Register_Form %}{% endblock %}
<!--/Register-Form -->
    <!--Forgot-password-Form -->
 {% block Forgot_password_Form %}{% endblock %}
    <!--/Forgot-password-Form -->
{% endblock %}
<!-------------------- /Index Content ------------------------------>
<!--Brands-->
{% block Brands %}
    <section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>Popular Brands</h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    <div><a href="#"><img src="{{ asset('bundles/karhabtyuser/images/brand-logo-1.png') }}" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="{{ asset('bundles/karhabtyuser/images/brand-logo-2.png') }}" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="{{ asset('bundles/karhabtyuser/images/brand-logo-3.png') }}" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="{{ asset('bundles/karhabtyuser/images/brand-logo-4.png') }}" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="{{ asset('bundles/karhabtyuser/images/brand-logo-5.png') }}" class="img-responsive" alt="image"></a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- /Brands-->
<!--Footer -->
{% block Footer %}
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h6>Top Categores</h6>
                        <ul>
                            <li><a href="#">Crossovers</a></li>
                            <li><a href="#">Hybrids</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Hybrid SUVs</a></li>
                            <li><a href="#">Concept Vehicles</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>About Us</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Trademarks</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Request a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Subscribe Newsletter</h6>
                        <div class="newsletter-form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                                </div>
                                <button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </form>
                            <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users very week.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 text-right">
                        <div class="footer_widget">
                            <p>Download Our APP:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_widget">
                            <p>Connect with Us:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <p class="copy-right">Copyright &copy; 2017 CarForYou. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<!-- /Footer-->

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->


<!-- JsRouting -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- Scripts -->
<script  src="{{ asset('bundles/karhabtyuser/js/jquery.js') }}"></script>
<script  src="{{ asset('bundles/karhabtyuser/js/like.js') }}"></script>
<script  src="{{ asset('bundles/karhabtyuser/js/dislike.js') }}"></script>
<script  src="{{ asset('bundles/karhabtyuser/js/like-post.js') }}"></script>
<script  src="{{ asset('bundles/karhabtyuser/js/dislike-post.js') }}"></script>
<script src="{{ asset('bundles/karhabtyuser/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/karhabtyuser/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/karhabtyuser/js/interface.js') }}"></script>
<!--bootstrap-slider-JS-->
<script src="{{ asset('bundles/karhabtyuser/js/bootstrap-slider.min.js') }}"></script>
<!--Slider-JS-->
<script src="{{ asset('bundles/karhabtyuser/js/slick.min.js') }}"></script>
<script src="{{ asset('bundles/karhabtyuser/js/owl.carousel.min.js') }}"></script>
<!--CKeditor-->
<script src="{{ asset('bundles/karhabtyforum/ckeditor/ckeditor.js') }}"></script>
</body>

<!-- Mirrored from themes.webmasterdriver.net/carforyou/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2017 21:57:00 GMT -->
</html>
