{% extends '::base.html.twig' %}
{% block index_content %}
    <!--Page Header-->
    <section class="page-header blog_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Topic Detail</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Topic Detail</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Our-Blog-->
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--article-1-->
                    <div class="article_wrap article_full_info">

                        <div class="articale_header">
                            {% if topic.resolved==true %}
                                <div class="alert alert-success" role="alert">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                    <strong>This Topic is Resolved!</strong>
                                </div>
                                {% elseif topic.closed==true %}
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <strong>This Topic is Closed!</strong>
                                    </div>
                                {% endif %}
                            <h1>{{ topic.title }}</h1>
                            <div class="article_meta">
                                <ul>
                                    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i> <a href="#">{{ topic.owner.username }}</a></li>
                                    <li><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ topic.date|date("d/m/y") }}</li>
                                    <li><i class="fa fa-tags" aria-hidden="true"></i> <a href="#">{{ topic.category.slug }}</a>, <a href="#">{{ topic.slug }}</a></li>
                                         {% for count in count %}
                                    <li><i class="fa fa-comment" aria-hidden="true"></i> <a href="#">{{ count.val }} Posts</a></li>
                                             {% endfor %}
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> <a href="#">{{ topic.views }} Views</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="article_info">
                       {{ topic.content|raw }}
                            </div>
                        <div class="article_tag gray-bg">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="tag_list">
                                        <ul>
                                            <li><button href="#" class="glyphicon glyphicon-thumbs-up" value="{{ topic.id }}" id="like" style="background: transparent;border: none;"></button></li>
                                            <li id="nb">{{ topic.likes }}</li>
                                            <li><button href="#" class="glyphicon glyphicon-thumbs-down" value="{{ topic.id }}" id="dislike" style="background: transparent;border: none;"></button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="share_article ">
                                        <h6>Share:</h6>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Comments-->
                    <div class="articale_comments">
                        <div id="comments">
                            {% for count in count %}
                            <h5>{{ count.val }} Posts</h5>
                                {% endfor %}
                            <ul class="commentlist">
                                {% for post in posts %}
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="comment-author">
                                            {% if app.user is not null %}
                                            {% if app.user.id==post.poster.id %}
                                            <div class="reply"> <a href="{{ path('karhabty_forum_Delete_Post',{'id':post.id}) }}" class="btn btn-primary btn-xs outline pull-right"><i class="fa fa-eraser" aria-hidden="true"></i> Delete</a> </div>
                                            <div class="reply"> <a href="{{ path('karhabty_forum_Edit_Post',{'id':post.id}) }}" class="btn btn-primary btn-xs outline pull-right" style="margin-right: 10px;"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a> </div>
                                            {% endif %}
                                                {% endif %}
                                            <img class="avatar" src="{{ asset('bundles/karhabtyuser/images/profile-pictures.png') }}" alt="image"> <span class="fn">{{ post.poster.username }}</span>
                                        </div>
                                        <div class="comment-meta commentmetadata"> <a href="#">{{ post.date|date('D M Y H:i:s') }}</a> </div>
                                            {{ post.content|raw }}
                                        <div class="reply"> <a href="{{ path('karhabty_forum_Reply_Post',{'id':post.id}) }}" class="btn btn-primary btn-xs outline"><i class="fa fa-" aria-hidden="true"></i> Reply</a>
                                            <div class="tag_list" style="float: right;">
                                                <ul>
                                                    <li><a href="{{ path('karhabty_forum_Report_Post',{'id':post.id}) }}">Report</a></li>
                                                    <li><button href="#" class="like-post glyphicon glyphicon-thumbs-up" value="{{ post.id }}" id="like-post" style="background: transparent;border: none;"></button></li>
                                                    <li id="{{ post.id }}" >{{post.likes }}</li>
                                                    <li><button href="#" class="dislike-post glyphicon glyphicon-thumbs-down" value="{{ post.id }}" id="dislike-post" style="background: transparent;border: none;"></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% for reply in reply %}
                                        {% if reply.response.id == post.id %}
                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="comment-author">
                                                            {% if app.user is not null %}
                                                                {% if app.user.id==reply.poster.id %}
                                                                    <div class="reply"> <a href="{{ path('karhabty_forum_Delete_Post',{'id':reply.id}) }}" class="btn btn-primary btn-xs outline pull-right"><i class="fa fa-eraser" aria-hidden="true"></i> Delete</a> </div>
                                                                    <div class="reply"> <a href="{{ path('karhabty_forum_Edit_Post',{'id':reply.id}) }}" class="btn btn-primary btn-xs outline pull-right" style="margin-right: 10px;"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a> </div>
                                                                {% endif %}
                                                            {% endif %}
                                                            <img class="avatar" src="{{ asset('bundles/karhabtyuser/images/profile-pictures.png') }}" alt="image"> <span class="fn">{{ reply.poster.username }}</span>
                                                        </div>
                                                        <div class="comment-meta commentmetadata"> <a href="#">{{ reply.date|date('D M Y H:i:s') }}</a> </div>
                                                        {{ reply.content|raw }}
                                                        <div class="reply"> <a href="{{ path('karhabty_forum_Reply_Post',{'id':post.id}) }}" class="btn btn-primary btn-xs outline"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                            <div class="tag_list" style="float: right;">
                                                                <ul>
                                                                    <li><a href="{{ path('karhabty_forum_Report_Post',{'id':reply.id}) }}">Report</a></li>
                                                                    <li><button href="#" class="like-post glyphicon glyphicon-thumbs-up" value="{{ reply.id }}" id="like-post" style="background: transparent;border: none;"></button></li>
                                                                    <li id="{{ reply.id }}">{{ reply.likes }}</li>
                                                                    <li><button href="#" class="dislike-post glyphicon glyphicon-thumbs-down" value="{{ reply.id }}" id="dislike-post" style="background: transparent;border: none;"></button></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
              {% if is_granted("ROLE_USER") %}
                  {% if app.user.banned == true %}
                      <div class="alert alert-danger" role="alert">
                          <strong>Oh snap!</strong> You'r banned
                      </div>
                      {% else %}
                    <!--Comments-Form-->
                    <div class="comment-respond">
                        <h5>Leave A Post</h5>
                        {{ form_start(postform) }}
                            <div class="form-group">
                                {{ form_widget(postform.content) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(postform.Publish,{'attr': {'class': 'btn '}}) }}
                            </div>
                       {{ form_end(postform) }}
                    </div>

                  {% endif %}
              {% else %}

                  <div class="alert alert-danger" role="alert">
                      <strong>Oh snap!</strong> You need to be connected to publish
                  </div>
              {% endif %}
                </div>


                <!--Side-bar-->
                <aside class="col-lg-3 col-md-4">
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Search Forum</h5>
                        </div>
                        <div class="blog_search">
                            <form action="{{ path('karhabty_forum_Search_Topics') }}" method="post">
                                <input class="form-control" name="search" type="text" placeholder="Search...">
                                <button type="submit" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Topic</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                {% for PopularTopic in PopularTopic %}
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="{{ asset('bundles/karhabtyuser/images/post_200x200_1.jpg') }}" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':PopularTopic.category.slug,'slugt':PopularTopic.slug }) }}">{{ PopularTopic.title }}</a> </div>
                                </li>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Posts</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                <li>
                                    <div class="popular_post_img"> <a href="#"><img src="{{ asset('bundles/karhabtyuser/images/post_200x200_2.jpg') }}" alt="image"></a> </div>
                                    <div class="popular_post_title"> <a href="#">At vero eos et accusamus et iusto odio dignissimos.</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </aside>
                </div>
            </div>
                </section>

{% endblock %}