{% extends '::base.html.twig' %}
{% block index_content %}
    <!--Page Header-->
    <section class="page-header blog_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Our Forum</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Our Forum</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Our-Forum-->
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--article-->
                    <div class="article_tag gray-bg">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <h6>{{ category.name }}</h6>
                            </div>
                        </div>
                    </div>
                    {% for topic in topics %}
                        <article class="topics">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <figure>
                                        <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg">
                                    </figure>
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>10</span>
                                    <span class="label label-default pull-right" style="margin-right: 5px;">Last Post<i class="glyphicon glyphicon-calendar"></i>{{ topic.lastpost|date("d/m/y") }}  </span>
                                    <h4>{{ topic.title }}</h4>
                                    <p>{{ topic.description }}</p>
                                    <section>
                                        <i class="glyphicon glyphicon-folder-open"></i>{{ topic.category.name }}
                                        <i class="glyphicon glyphicon-user"></i>{{ topic.owner.username }}
                                        <i class="glyphicon glyphicon-calendar"></i>{{ topic.date|date("d/m/y") }}
                                        <i class="glyphicon glyphicon-eye-open"></i>{{ topic.views }}
                                        <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':topic.category.slug,'slugt':topic.slug }) }}" class="btn btn-xs pull-right">More ... </a>
                                    </section>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                    <div class="navigation">
                            {% if topics is empty  %}
                                <h5 style="text-align: center;margin-top: 100px;">No Topics Found</h5>
                            {% else %}
                        {{ knp_pagination_render(topics) }}
                            {% endif %}
                    </div>
                </div>

                <!--Side-bar-->
                <aside class="col-lg-3 col-md-4">
                    <div class="sidebar" style="padding-bottom: 10px;padding-left: 8px;">
                        <a href="{{ path('karhabty_forum_Create_Topic') }}" class="btn btn-md" >Créer un nouveau sujet</a>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Search Forum</h5>
                        </div>
                        <div class="blog_search">
                            <form action="{{ path('karhabty_forum_Search_Topics') }}" method="post">
                                <input class="form-control" name="search" type="text" placeholder="Search...">
                                <button type="submit" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Categories</h5>
                        </div>
                        <div class="categories_list">
                            <ul>
                                {% for category in categories %}
                                    <li><a href="{{ path('karhabty_forum_Display_Topics_ByCategory',{'slugc':category.slug}) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Topic Here</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                {% for PopularTopic in PopularTopic %}
                                    <li>
                                        <div class="popular_post_img"> <a href="#"><img src="{{ asset('bundles/karhabtyuser/images/post_200x200_1.jpg') }}" alt="image"></a> </div>
                                        <div class="popular_post_title"> <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':PopularTopic.category.slug,'slugt':PopularTopic.slug }) }}">{{ PopularTopic.title }}</a> </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
                <!--/Side-bar-->

            </div>
        </div>
    </section>
    <!-- /Our-Blog-->
{% endblock %}