{% trans_default_domain 'FOSUserBundle' %}
{% block index_content %}
{#<div class="modal fade" id="loginform">#}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               {# <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-6 col-sm-6">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <input type="text" id="username" name="_username" class="form-control" placeholder="Username or Email address*" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }} " required="required">
                                </div>
                                <div class="form-group checkbox">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" >
                                    <label for="remember_me"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} </label>
                                </div>
                                {% if error %}
                                    <div class="form-group">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-block">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h6 class="gray_text">Login the Quick Way</h6>
                            <a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</a> <a href="#" class="btn btn-block twitter-btn"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a> <a href="#" class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Login with Google+</a> </div>
                        <div class="mid_divider"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>Don't have an account? <a href="{{ path('fos_user_registration_register') }}" data-toggle="modal" data-dismiss="modal">Signup Here</a></p>
                <p><a href="{{ path('fos_user_resetting_request') }}" data-toggle="modal" data-dismiss="modal">Forgot Password ?</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}