{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-files-o"></i> Ajouter une categorie</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="icon_documents_alt"></i>Forum</li>
                            <li><i class="fa fa-files-o"></i>Ajouter une categorie</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block main_content %}
    <!-- Form validations -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Ajouter une Categorie
                </header>
                <div class="panel-body">
                    <div class="form">
                            {{ form_start(form,{'attr': {'class': 'form-validate form-horizontal'}}) }}
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">{{ form_label(form.name) }} <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    {{ form_widget(form.name,{'attr': {'class': 'form-control','minlength':'5'}}) }}
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="ccomment" class="control-label col-lg-2">{{ form_label(form.description) }}</label>
                                <div class="col-lg-10">
                         {{ form_widget(form.description,{'attr': {'class': 'form-control','id':'ccomment','name':'comment'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                        {{ form_end (form) }}
                    </div>

                </div>
            </section>
        </div>
    </div>


{% endblock %}