{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-files-o"></i>Liste des Posts Signaler</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="icon_documents_alt"></i>Forum</li>
                            <li><i class="fa fa-files-o"></i>Liste des Posts Signaler</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block main_content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des Posts Signaler
                </header>

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th> #</th>
                        <th>Reporter username</th>
                        <th>#</th>
                        <th>Post Content</th>
                        <th>#</th>
                        <th>Post Owner</th>
                        <th>Reason</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>
                    {% for reported in reported %}
                        <tr>
                            <td>{{ reported.reporter.id }}</td>
                            <td>{{ reported.reporter.username }}</td>
                            <td>{{ reported.reprotedpost.id }}</td>
                            <td><button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal{{reported.reporter.id}}{{reported.reprotedpost.id }} ">Contenu du Post</button></td>
                            <td>{{ reported.reprotedpost.poster.id }}</td>
                            <td>{{ reported.reprotedpost.poster.username }}</td>
                            <td>{{ reported.reason }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="" data-toggle="modal" data-target="#my{{reported.reporter.id}}{{reported.reprotedpost.id }}"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-danger" href="{{ path('karhabty_admin_BannedUser',{'id':reported.reprotedpost.poster.id}) }}"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="myModal{{reported.reporter.id}}{{reported.reprotedpost.id }}" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Contenu du Post</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ reported.reprotedpost.content|raw }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="my{{reported.reporter.id}}{{reported.reprotedpost.id }}" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Reponse</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('karhabty_admin_SendEmailToReporter') }}" method="post">
                                        <div class="form-group">
                                            <label for="email">
                                                Email</label>
                                            <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                                <input type="email" id="email" name="email" class="form-control "  value="{{ reported.reporter.email }}" readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="subject">
                                                    Subject</label>
                                                <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="content">
                                                    Content</label>
                                                <textarea  id="content" name="content" class="form-control" placeholder="Content" required="required" ></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="postcontent" name="postcontent" class="form-control hidden" value="{{ reported.reprotedpost.content }}">
                                                <input type="text" id="username" name="username" class="form-control hidden" value="{{ reported.reporter.username }}">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}