{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-files-o"></i>Liste des Sujets</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="icon_documents_alt"></i>Forum</li>
                            <li><i class="fa fa-files-o"></i>Liste des Sujets</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des Sujets
                </header>

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th> #</th>
                        <th>Titre</th>
                        <th>Date de publication</th>
                        <th>Owner</th>
                        <th>Categorie</th>
                        <th>Last Post</th>
                        <th>Etat</th>
                        <th>Slug</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>
{% for topic in topics %}
                        <tr>
                            <td>{{ topic.id }}</td>
                            <td>{{ topic.title }}</td>
                            <td>{{ topic.date|date('D M Y H:i:s') }}</td>
                            <td>{{ topic.owner.username }}</td>
                            <td>{{ topic.category.name }}</td>
                            <td>{{ topic.lastpost|date('D M Y H:i:s') }}</td>
                            {% if (topic.closed) %}
                                <td>Closed</td>
                            {% elseif (topic.resolved) %}
                                <td>Resolved</td>
                            {% else %}
                                <td>Published</td>
                            {% endif %}
                            <td>{{ topic.slug }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-danger" href="{{ path('karhabty_forum_Delete_Topic',{'id':topic.id}) }}"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(topics,'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
    </div>
{% endblock %}