{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-files-o"></i>Liste des Categories</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="icon_documents_alt"></i>Forum</li>
                            <li><i class="fa fa-files-o"></i>Liste des Categories</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des Categories
                </header>

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th> #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Slug</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>
    {% for i in category %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td style="width: 50%;">{{ i.description }}</td>
                        <td>{{ i.slug }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{{ path('karhabty_admin_Edit_Category',{'id':i.id}) }}"><i class="icon_plus_alt2"></i></a>
                                <a class="btn btn-danger" href="{{ path('karhabty_admin_Delete_Category',{'id':i.id}) }}"><i class="icon_close_alt2"></i></a>
                            </div>
                        </td>
                    </tr>
    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}