{% trans_default_domain 'FOSUserBundle' %}


{% block Page_Header %}
    <section class="page-header page_404">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Profile Settings</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Profile Settings</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
{% endblock %}
{% block Message_content %}
    <!--Profile-setting-->
    <section class="user_profile inner_pages">
        <div class="container">
            <div class="user_profile_info gray-bg padding_4x4_40">
                <form action="{{ path('karhabty_user_Image') }}" method="post">
                    <div class="form-group">
                <div class="upload_user_logo"> <img src="{{ asset('bundles/karhabtyuser/images/profile-pictures.png') }}" alt="image">
                    <div class="upload_newlogo form-group">
                        <input name="upload" type="file" class="file">
                    </div>
                </div>
                    </div>
                    <div class="form-group" style="width: 200px;padding-left: 15px;height: 20px;">
                        <input type="submit" value="Changer" class="btn">
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="profile_nav">
                        <ul>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li class="active"><a href="{{ path('fos_user_profile_edit') }}">Profile Settings</a></li>
                            <li><a href="{{ path('karhabty_user_Topic') }}">My Topics</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <h5 class="uppercase underline">Genral Settings</h5>
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.username) }}</label>
                            {{ form_widget(form.username,{'attr': { 'class': 'form-control white_bg' }}) }}
                        </div>
                            <div class="form-group">
                                <label class="control-label">Nom</label>
                                {{ form_widget(form.lastName,{'attr': { 'class': 'form-control white_bg' }}) }}
                            </div>
                        <div class="form-group">
                            <label class="control-label">Prenom</label>
                            {{ form_widget(form.firstName,{'attr': { 'class': 'form-control white_bg' }}) }}

                        </div>
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.email) }}</label>
                                {{ form_widget(form.email,{'attr': { 'class': 'form-control white_bg' }}) }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                {{ form_widget(form.mobile,{'attr': { 'class': 'form-control white_bg' }}) }}
                                {{ form_errors(form.mobile) }}
                            </div>
                        <div class="form-group">
                            <label class="control-label">Tel</label>
                            {{ form_widget(form.tel,{'attr': { 'class': 'form-control white_bg' }}) }}
                            {{ form_errors(form.tel) }}
                        </div>
                            <div class="form-group">
                                <label class="control-label"> Adresse </label>
                                {{ form_widget(form.address,{'attr': { 'class': 'form-control white_bg' }}) }}

                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ form_label(form.current_password) }}</label>
                                {{ form_widget(form.current_password,{'attr': { 'class': 'form-control white_bg' }}) }}
                                {{ form_errors(form.current_password) }}
                            </div>

                        <div class="form-group">
                            <input type="submit" value="{{ 'profile.edit.submit'|trans }}"  class="btn ">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--/Profile-setting-->

{% endblock %}