{% trans_default_domain 'FOSUserBundle' %}
{% block Page_Header %}
    <section class="page-header page_404">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Your Profile</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Your Profile</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
{% endblock %}
{% block Message_content %}
    <!--Profile-setting-->
    <section class="user_profile inner_pages">
        <div class="container">
            <div class="user_profile_info gray-bg padding_4x4_40">
                <div class="upload_user_logo"> <img src="{{ asset(user.getAssetPath) }}" alt="image">
                </div>
                <div class="dealer_info">
                    <h5> {{ user.username }} </h5>
                    <p> {{ user.email }} <br>
                        {{ user.address }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="profile_nav">
                        <ul>
                            <li class="active"><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Profile Settings</a></li>
                            <li><a href="{{ path('karhabty_user_Topic') }}">My Topics</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <h5 class="uppercase underline">Genral Info</h5>
                        <div class="bio-row">
                            <p><span>Nom </span>: {{ user.LastName }} </p>
                        </div>
                        <div class="bio-row">
                            <p><span>Prenom </span>: {{ user.firstName }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Pays </span>: Tunisie</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Adresse </span>: {{ user.address }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>:{{ user.email }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Mobile </span>: (+216){{ user.mobile }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Phone </span>:  (+216) {{ user.tel }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Date creation de compte </span>:  {{ user.creationDate|date('d M Y') }}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Profile-setting-->

{% endblock %}