{% extends '::base.html.twig' %}
{% block index_content %}
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--Comments-Form-->
                    <div class="comment-respond">
                        <h5>Edit Post</h5>
                        {{ form_start(editform) }}
                        <div class="form-group">
                            {{ form_widget(editform.content) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(editform.Publish,{'attr': {'class': 'btn '}}) }}
                        </div>
                        {{ form_end(editform) }}
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}