{% extends '::base.html.twig' %}
{% block index_content %}
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--Comments-->
                    <div class="articale_comments">
                        <div id="comments">
                            <ul class="commentlist">
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="comment-author"> <img class="avatar" src="{{ post.poster.profileImage }}" alt="image"> <span class="fn">{{ post.poster.username }}</span> </div>
                                        <div class="comment-meta commentmetadata"> <a href="#">{{ post.date|date('D M Y H:i:s') }}</a> </div>
                                        {{ post.content|raw }}
                                    </div>
                                    {% for reply in reply %}
                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="comment-author"> <img class="avatar" src="assets/images/comment-author-3.jpg" alt="image"> <span class="fn">{{ reply.poster.username }}</span> </div>
                                                        <div class="comment-meta commentmetadata"> <a href="#">{{ reply.date|date('D M Y H:i:s') }}</a> </div>
                                                        {{ reply.content|raw }}
                                                    </div>
                                                </li>
                                            </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Comments-Form-->
                    <div class="comment-respond">
                        <h5>Reply</h5>
                        {{ form_start(replyform) }}
                        <div class="form-group">
                            {{ form_widget(replyform.content) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(replyform.Publish,{'attr': {'class': 'btn '}}) }}
                        </div>
                        {{ form_end(replyform) }}
                    </div>

                </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}