{% trans_default_domain 'FOSUserBundle' %}
{#
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
#}
{% block Page_Header %}
    <section class="page-header page_404">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Change Password</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Change Password</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
{% endblock %}
{% block Message_content %}
    <!--Profile-setting-->
    <section class="user_profile inner_pages">
        <div class="container">
            <div class="user_profile_info gray-bg padding_4x4_40">
                <div class="upload_user_logo"> <img src="{{ asset('bundles/karhabtyuser/images/dealer-logo.jpg') }}" alt="image">
                    <div class="upload_newlogo">
                        <input name="upload" type="file">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="profile_nav">
                        <ul>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li class="active"><a href="{{ path('fos_user_profile_edit') }}">Profile Settings</a></li>
                            <li><a href="{{ path('karhabty_user_Topic') }}">My Topics</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <h5 class="uppercase underline">Change Password</h5>
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.current_password) }}</label>
                            {{ form_widget(form.current_password,{'attr': { 'class': 'form-control white_bg' }}) }}
                            {{ form_errors(form.current_password) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.plainPassword.first) }}</label>
                            {{ form_widget(form.plainPassword.first,{'attr': { 'class': 'form-control white_bg' }}) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.plainPassword.second) }}</label>
                            {{ form_widget(form.plainPassword.second,{'attr': { 'class': 'form-control white_bg' }}) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn " />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--/Profile-setting-->

{% endblock %}