{% extends '::base.html.twig' %}
{% block index_content %}
    <!--Page Header-->
    <section class="page-header blog_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Our Forum</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>Our Forum</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Our-Forum-->
    <section class="our_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--article-->
                    <div class="article_tag gray-bg" style="margin-bottom: 15px;">
                        <div class="row" style="text-align: center">
                            <div class="col-md-10 col-sm-10">
                                <h6 style="font-size: 25px;color:#fa2837">Forum Categories</h6>
                            </div>
                        </div>
                    </div>
                    {% for category in categories %}
                    <div class="article_tag gray-bg" style="margin-bottom: 15px;">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <h6>{{ category.name }}</h6>
                                <section>
                                    <p>{{ category.description }} </p>
                                </section>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="tag_list">
                                    <ul>
                                        <li><a href="{{ path('karhabty_forum_Display_Topics_ByCategory',{'slugc':category.slug }) }}">View</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                </div>

                <!--Side-bar-->
                <aside class="col-lg-3 col-md-4">
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Search Forum</h5>
                        </div>
                        <div class="blog_search">
                            <form action="{{ path('karhabty_forum_Search_Topics') }}" method="post">
                                <input class="form-control" name="search" type="text" placeholder="Search...">
                                <button type="submit" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5>Popular Topic</h5>
                        </div>
                        <div class="popular_post">
                            <ul>
                                {% for PopularTopic in PopularTopic %}
                                    <li>
                                        <div class="popular_post_img"> <a href="#"><img src="{{ asset('bundles/karhabtyuser/images/post_200x200_1.jpg') }}" alt="image"></a> </div>
                                        <div class="popular_post_title"> <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':PopularTopic.category.slug,'slugt':PopularTopic.slug }) }}">{{ PopularTopic.title }}</a> </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </aside>
                <!--/Side-bar-->

            </div>
        </div>
    </section>
    <!-- /Our-Blog-->
{% endblock %}